/* Add CSS Styling */

.p1 {
  background-color: rgb(255, 192, 203);
  font-family: Verdana, "DejaVu Sans", sans-serif;
}

.p2 {
  font-size: 24px;
}

#n2 {
  color: rgb(0, 0, 255);
  font-size: 36px;
}

#n4 {
  background-color: rgb(144, 238, 144);
  font-weight: bold;
}
