/* Add CSS Styling */

.uniq1,
.uniq2 {
  font-size: 28px;
  font-family: Helvetica, "Times New Roman", sans-serif;
}

.uniq1 {
  background-color: black;
  color: white;
}

.uniq2 {
  background-color: yellow;
}
